<!doctype html>
<!--[if lt IE 7]>
<html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js" ng-app="app">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>Kassandra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="shortcut icon" href="favicon.png">

    <link rel="stylesheet" href="css/bootstrap-custom.css">

    <link rel="stylesheet" href="css/metro-style.css">

    <link rel="stylesheet" href="css/kassandra.css">
    <link rel="stylesheet" href="css/editor.css">

    <link rel="stylesheet" href="css/spinner.css">

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

    <script src="lib/ngStorage.js"></script>
    <script src="lib/loading-bar.js"></script>

    <script src="js/jquery.customInput.js"></script>
    <script src="js/custom.js"></script>

    <script src="js/kassandra/app.js"></script>

    <script src="js/kassandra/services.js"></script>

    <script src="lib/ace/src-noconflict/ace.js"></script>

    <!-- Controllers -->
    <script src="js/kassandra/controllers/appController.js"></script>
    <script src="js/kassandra/controllers/userPanelController.js"></script>
    <script src="js/kassandra/controllers/homeController.js"></script>
    <script src="js/kassandra/controllers/restrictedController.js"></script>

    <script src="js/kassandra/controllers/challengesController.js"></script>
    <script src="js/kassandra/controllers/profileController.js"></script>
    <script src="js/kassandra/controllers/quizController.js"></script>
    <script src="js/kassandra/controllers/leaderboardController.js"></script>
    <script src="js/kassandra/controllers/editorController.js"></script>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-ng-controller="appCtrl">

<header>
    <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">-->
    <div class="container container-wide">
        <div class="content" role="main">
            <div class="row">
                <div class="col-sm-3">
                    <div class="logo">
                        <img src="/kassandra/img/logo2.png" alt="Kassandra" title="Kassandra">
                    </div>
                </div>

                <!-- Brand and toggle get grouped for better mobile display -->
                <!--<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="fa fa-bars fa-lg"></span>
                    </button>
                    <a class="navbar-brand" href="#/">

                        <h1 class="logo">Kassandra</h1>
                    </a>
                </div>-->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li data-ng-show="token"><a ui-sref="restricted">Restricted area</a></li>
                        <li data-ng-hide="token"><a ui-sref="signin">Sign in</a></li>
                        <li data-ng-hide="token"><a ui-sref="signup">Sign up</a></li>
                        <li data-ng-show="token"><a ng-click="logout()">Logout</a></li>
                    </ul>
                </div>-->
                <div class="col-sm-9">
                    <div id="topmenu">
                        <ul class="dropdown clearfix boxed">
                            <li class="menu-level-0"><a href="#"><span>Home</span></a></li>
                            <li class="menu-level-0"><a href="#"><span>Events</span></a></li>
                            <li class="menu-level-0"><a href="#"><span>About</span></a></li>
                            <li data-ng-hide="token" class="menu-level-0"><a ui-sref="signin"><span>Sign In</span></a></li>
                            <li data-ng-show="token"><a ng-click="logout()">Logout</a></li>
                            <li class="menu-level-0">
                                <form method="get" id="searchform" action="#">
                                    <div class="main_search">
                                        <span class="btn btn-search pull-right"><input type="submit" value="Go" /></span>
                                        <div class="field_text">
                                            <!--<label for="search" class="label_title">Search</label>-->
                                            <input name="search" id="search" value="" type="text" />
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <!--</nav>-->
</header>

<div class="container container-wide">
    <div ui-view></div>


    <!-- modal window -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelled-by="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Challenge completed</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div type="button" class="btn btn-green btn-small" data-dismiss="modal"><span class="gradient">Close</span></div>
                </div>
            </div>
        </div>
    </div>


</div>

</body>

</html>
