header + .container {
    /*margin-top: 80px;*/
}

.user-panel {
    /*padding-top: 100px;*/
}

.widget-title .username {
    text-transform: lowercase;
}

.widget-container .inner {
    padding: 10px;
}

.widget-container .inner li{
    padding: 10px;
}

.widget-container .inner span.glyphicon{
    width: 20px;
}

.navbar .logo {
    margin-bottom: 0;
}

.bottom {
    background: #f8f3f0;
}

.start-challenge {
    position: relative;
    padding-top: 10px;
    float: right;
}

.challenge-stats li {
    font-size: 15px;
    line-height: 25px;
}

.progress {
    height: 30px;
}

.progress-bar {
    padding: 9px;
}