header + .container {
    /*margin-top: 80px;*/
}

.user-panel {
    /*padding-top: 100px;*/
}

.widget-title .username {
    text-transform: lowercase;
}

.widget_profile .inner {
    padding: 10px;
}

.widget_profile .inner li {
    padding: 10px;
}

.widget_profile .inner span.glyphicon {
    width: 20px;
}

.navbar .logo {
    margin-bottom: 0;
}

.bottom {
    background: #f8f3f0;
}

.start-challenge {
    position: relative;
    padding-top: 10px;
    float: right;
}

.challenge-stats li {
    font-size: 15px;
    line-height: 25px;
}

.progress {
    height: 30px;
}

.progress-bar {
    padding: 9px;
}

.leaderboard img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.leaderboard td {
    vertical-align: middle;
}

.main_search {
    margin-left: 6px;
    margin-top: 2px;
    padding-top: 5px;
}

.logo img {
    width: 100%;
    height: 65px;
}