<div>
    <h3>Leaderboard</h3>

    <div class="panel panel-default">
        <!-- Default panel contents
        <div class="panel-heading">Panel heading</div>-->

        <!-- Table -->
        <table class="table leaderboard">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="boardItem in board track by $index">
                    <td scope="row">{{$index}}</td>
                    <td><img src="{{boardItem.gravatarUrl}}"> {{boardItem.userName}}</td>
                    <td>{{boardItem.score | number:2}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>