<div ng-show="challengeInProgress==true" class="postlist">

    <div class="col-sm-4" ng-repeat="task in challenges">
        <div class="widget-container widget_tag_cloud boxed">
            <h3 class="widget-title">{{task.name}}</h3>

            <div class="inner">
                <ul class="challenge-stats">
                    <li>
                        <span>Category:</span>
                        <strong>{{isQuiz(task)}}</strong>
                    </li>
                    <li>
                        <span>Difficulty:</span>
                        <strong>{{task.difficulty}}</strong>
                    </li>
                     <span class="start-challenge pull-right">
                         <a ng-click="startChallenge(task)" href="#" class="btn btn-green btn-small" hidefocus="true" style="outline: none;">
                             <span class="gradient">START</span>
                         </a>
                     </span>
                    <li>
                        <span>Submissions:</span>
                        <strong>{{task.submissionsCount}}</strong>
                    </li>
                    <li>
                        <span>Accuracy:</span>
                        <strong>{{task.taskAccuracy}}%</strong>
                    </li>

                </ul>
            </div>

            <div class="tagcloud bottom clearfix">
                <a ng-repeat="tag in task.tags" href="#" class="tag-link-1" title="2 topics">
                    <span>{{tag}}</span></a>
            </div>
        </div>

    </div>

</div>

<div ui-view></div>