<div class="progress">
    <div class="progress-bar progress-bar-success"
         role="" aria-valuenow="1" aria-valuemin="1" aria-valuemax="{{numberOfQuestions}}">Question 1 of
        {{numberOfQuestions}}
    </div>
</div>

<div class="content" role="main">
    <div class="add-comment survey-form boxed">
        <div class="comment-form">
            <form action="#" method="post" id="commentForm3" class="ajax_form">

                <div class="form-inner clearfix">

                    <div class="add-comment-title"><h3>Would you recommend us in the future?</h3></div>
                    <div class="input_styled inlinelist">
                        <div class="rowRadio">
                            <input type="radio" name="survey" value="radio_v3" id="radio_v3"
                                   checked><label for="radio_v3">Very likely</label>
                        </div>
                        <div class="rowRadio"><input type="radio" name="survey" value="radio_v4" id="radio_v4"><label
                                for="radio_v4">Somewhat likely</label></div>
                        <div class="rowRadio"><input type="radio" name="survey" value="radio_v5" id="radio_v5"><label
                                for="radio_v5">Eh, not sure</label></div>
                        <div class="rowRadio"><input type="radio" name="survey" value="radio_v6" id="radio_v6"><label
                                for="radio_v6">Somewhat unlikely</label></div>
                        <div class="rowRadio"><input type="radio" name="survey" value="radio_v7" id="radio_v7"><label
                                for="radio_v7">Very unlikely</label></div>
                    </div>

                </div>
                <div class="rowSubmit">
                    <span class=" btn"><input type="submit" id="send3" value="Next"/></span>
                </div>
            </form>
        </div>
    </div>
</div>