<div class="user-panel">

    <div class="tabs_framed">
        <ul class="tabs clearfix">
            <li ng-repeat="tab in userTabs" ng-class="{active:tab.id==currentTab}">
                <a href="" data-toggle="tab" title="{{tab.name}}"
                   ng-click="switchTab(tab)">{{tab.name}}&nbsp;&nbsp;
                    <sup ng-show="tab.hasNotifications" class="note">{{tab.notifications}}</sup>
                </a>

            </li>
        </ul>
        <div class="tab-content boxed clearfix">
            <div class="tab-pane fade in active" style="min-height: 650px;">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
